#board {
   margin: auto;
   width: 100%;
   max-width: 630px;
   border: 10px solid navy;
   background-color: blue;

   display: flex;
   flex-wrap: wrap;
}

.game-container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 630px;
   margin: 100px auto;
   gap: 10px;
}

.cell {
   flex: 1 0 calc((100% / 7) - 10px); /* Adjust width for 7 columns with margin */
   height: calc((100vw - 20px) / 7 - 10px);
   max-height: calc((630px - 20px) / 7 - 10px);
   background-color: white;
   border-radius: 50%;
   border: 5px solid navy;
   margin: 5px;
   box-sizing: border-box;
}

.red-piece {
   background-color: red;
   border: 5px solid darkred;
}

.yellow-piece {
   background-color: yellow;
   border: 5px solid rgb(253, 218, 13);
}

.controls {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   gap: 10px;
}

.controls button {
   color: white;
   flex-grow: 1; /* Make buttons take up equal space */
   padding: 10px;
   background-color: blue;
   cursor: pointer;
   border: 5px solid navy;
}

.controls button:hover {
   transform: scale(1.02);
   transition: transform 0.3s ease;
}

#player {
   position: absolute;
   top: -90px; /* Adjust this value to position the piece above the board */
   width: calc((100% / 7) - 10px);
   height: calc((100% / 7) - 10px);
   border-radius: 50%;
   margin: 5px;
   box-sizing: border-box;
}

@media (max-width: 480px) {
   #player {
      top: -70px;
   }
   .game-container {
      margin: 70px auto;
   }
}
